@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

.nav-wrapper{
    background-color: rgb(80, 80, 86);
    
}

.card-content{
    color: black;

}
.card{
	display: flex;
	justify-content: center;
}

footer {
	background-color: #333;
	color: #fff;
	padding: 20px;
	text-align: center;
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	height: 60px;
}

footer a {
	color: #fff;
	text-decoration: none;
	font-size: 16px;
	margin: 0 10px;
}

footer a:hover {
	color: #ccc;
}
.caja {
	border: 1px solid rgb(255, 255, 255);
	padding: 10px;
	margin-bottom: 20px;
	display: flex;
	align-items: center;
  }
  .caja-imagen-derecha {
	justify-content: space-between;
  }
  
  /* label color */
  .input-field label {
    color: #000;
  }
  /* label focus color */
  .input-field input[type=text]:focus + label {
    color: #000;
  }
  /* label underline focus color */
  .input-field input[type=text]:focus {
    border-bottom: 1px solid #000;
    box-shadow: 0 1px 0 0 #000;
  }
  /* valid color */
  .input-field input[type=text].valid {
    border-bottom: 1px solid #000;
    box-shadow: 0 1px 0 0 #000;
  }
  /* invalid color */
  .input-field input[type=text].invalid {
    border-bottom: 1px solid #000;
    box-shadow: 0 1px 0 0 #000;
  }
  /* icon prefix focus color */
  .input-field .prefix.active {
    color: #000;
  }
  button {
	background-color: #007bff;
	color: #fff;
	border: none;
	border-radius: 5px;
	padding: 10px;
	cursor: pointer;
	transition: all 0.3s ease;
	width: 100%;
	max-width: 400px;
	margin-top: 20px;
}

button:hover {
	background-color: #0056b3;
}
h2 {
	font-family: 'Montserrat', sans-serif;
	font-size: 5px;
	font-weight: 700;
	color: rgb(0, 0, 0);
	text-align: center;
	margin-top: 50px;
	text-transform: uppercase;
}
h3 {
	font-family: 'Montserrat', sans-serif;
	font-size: 5px;
	font-weight: 700;
	color: rgb(0, 0, 0);
	text-align: center;
	margin-top: 50px;
	text-transform: uppercase;
}

.form-container {
	max-width: 400px;
	margin: 0 auto;
  }

  .form-group {
	margin-bottom: 20px;
  }

  .form-label {
	display: block;
	margin-bottom: 5px;
	font-weight: bold;
  }

  .form-input {
	width: 100%;
	padding: 10px;
	font-size: 16px;
	border: 1px solid #ccc;
	border-radius: 4px;
  }

  .form-button {
	display: block;
	width: 100%;
	padding: 10px;
	font-size: 16px;
	background-color: #4CAF50;
	color: #fff;
	border: none;
	border-radius: 4px;
	cursor: pointer;
  }

  .comment-container {
	margin-top: 20px;
	border-top: 1px solid #ccc;
	padding-top: 20px;
  }

  .comment {
	margin-bottom: 10px;
	padding-bottom: 10px;
	border-bottom: 1px solid #ccc;
  }